<% if(messages){
    for(let index in messages){
        let message = messages[index]; 
        let message_comments = comments[message.message_id] || [];
        %>

    <div class="posted_message">
        <p>
            <span><%= message.full_name %></span>
            <span><%= message.posted_date %></span>
        </p>
        <p><%= message.message %></p>
    
        <div class="comment_board">
            <div class="comment_section">
            <% if(message_comments){ %>
                <%- include('../partials/comment.ejs', {comments: message_comments}) %>
            <% } %>
            </div>
            <p>Post a comment</p>
            <form action="/comments/post" class="post_comment_form" method="post">
                <input type="hidden" name="message_id" value="<%= message.message_id %>">
                <textarea name="comment"></textarea>
                <button type="submit">Post Comment!</button>
            </form>
        </div>
    </div>
<%  }
} %>